<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"

      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"

      autoReload="true"

      throwExceptions="false"

      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>

    <!--
    add your targets here
    See https://github.com/nlog/NLog/wiki/Targets for possible targets.
    See https://github.com/nlog/NLog/wiki/Layout-Renderers for the possible layout renderers.
    -->
    <!-- Using the colored console as my target-->
    <target xsi:type="ColoredConsole" name="colored_console" />
    <!-- local file target -->
    <target name="fileTarget"
            xsi:type="File"
            fileName="C:\logs\DVDStore.API.log"
            layout="
-------------- ${level} (${longdate}) --------------${newline}
${newline}
Call Site: ${callsite}${newline}
Exception Type: ${exception:format=Type}${newline}
Exception Message: ${exception:format=Message}${newline}
Stack Trace: ${exception:format=StackTrace}${newline}
Additional Info: ${message}${newline}" />
  </targets>

  <rules>
    <!-- add your logging rules here -->
    <!-- Writing everything to the colored console -->
    <logger name="*" minlevel="Debug" writeTo="colored_console" />
    <!-- local file logger -->
    <logger minlevel="Off" name="*" writeTo="fileTarget" />
  </rules>
</nlog>